<h2>Agregar</h2>
<form action="/add" method="POST">
  <label>Nombre: <input type="text" name="nombre" required></label>
  <label>Correo: <input type="text" name="correo" required></label>
  <button type="submit">Guardar</button>
</form>
